
.mypage-grid{
  display: flex;
  padding-top: 4.5rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.mypage-content-area{
  width: 80%;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
}