@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");


.stamp-wrap {
    display: flex;
    flex-direction: row;
    margin-right: 6rem;
    margin-left: 6rem;
    padding: 1rem;
    justify-content: center;
  }

.canvas {
  min-height: 30rem;
  max-height: 50rem;
    min-width: 30rem;
    max-width: 80rem;
    margin-top: 4.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 3.25rem;
    border:3px solid black;
    text-align: center;
    overflow: hidden;
  }

  .canvas .img{
    max-width: 100%;
    height: auto !important;
  }

 .canvas #to {
   text-align: left;
 }
  
 .canvas .img-stamp{
  position: relative;
 }
  
.img-stamp .stamp-circle-wrapper {
    text-align: center;
    border-radius: 50%;
    top: 4rem;
    left: 1.7rem;
    right: 3rem;
    bottom: 10rem;
    position: absolute;
  }
  
  .canvas .img-stamp .circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0.25rem;
    background-color: aliceblue;
    color: black;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
  }

  .addBtn{
    width: 100%;
    height: auto;
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--color-scale-gray-5);
  }
  
  .canvas #from {
    text-align: right;
  }

.textbox{
    min-width: 10rem;
    max-width: 30rem;
    min-height: 30rem;
    max-height: 50rem;
    margin-top: 4.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 3.25rem;
    text-align: center;
    border:3px solid black;
  }

  .textbox h2{
    margin-top: 5rem
  }

  .textbox textarea{
    width: 100%;
    resize: none;
    overflow-y: hidden; /* prevents scroll bar flash */
    padding: 1.1em; /* prevents text jump on Enter keypress */
    padding-bottom: 0.2em;
    line-height: 1.6;
  }

  .textbox button {
    margin-top: 5rem;

  }
  
  
