.workspace{
    display: flex;
    justify-content: center;
  }

.canvas{
    min-width: 25rem;
    margin-top: 4.5rem;
    padding: 3.25rem 0;
    text-align: center;
    max-width: 25rem;
    box-shadow: 10px 10px rgba(77, 77, 77, 0.3);
    border:3px solid black;
}

