/* ================== */
/* Coupon -  MyPage */
/* ================== */
.coupon-overlap-wrapper{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

/* ================== */
/* Coupon - Overlap */
/* ================== */
.coupon-overlap-container{
  display: flex;
  border: 3px solid black;
  height: 250px;
  min-width: 33%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  margin: 1rem 2rem;
  overflow: hidden;
  box-shadow: 10px 10px rgba(77, 77, 77, 0.3);
}



.bg-container.overlap{
  height: 70%;
  /* padding:2rem */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bg-container.bg-no-1{
  position: relative;
  max-width:50%;
  top: 0;
  left: 0;
  z-index: 3;
  margin-bottom: 0rem;
}

.bg-container.bg-no-2{
  position: absolute;
  max-width:50%;
  top: 0%;
  left: 7%;
  z-index: 2;
  margin-bottom: 0rem;
}

.bg-container.bg-no-3{
  position: absolute;
  max-width:50%;
  top: 0%;
  left: 14%;
  z-index: 1;
  margin-bottom: 0rem;
}