nav{
  width: 100%;
  height: 4rem;
  outline-style: solid;
  outline-width: 1px;
}

#nav-container{  
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8rem;
  padding-right: 8rem;
}


.logo-container{
  font-family: 'Black Han Sans';
  font-size: 1.25rem;
}

.nav-content-list{
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-content{
  margin-left: 1rem;
}

.nav-container-auth{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-progile-container {
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
}
.user-progile-container:hover{
  cursor: pointer;
}

.user-progile-container:focus{
  outline: none;
}

.user-progile-container img{
  width: 100%;
  height: auto;
}

.nav-modal-container{
  width: 5rem;
  background-color: white;
  position: absolute;
  top:3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:0.75rem;
  padding-bottom: 0.75rem;
  box-shadow:0 10px 15px -5px rgba(0,0,0,0.4);
  border-radius: 0.25rem;
}

.modal-nav-content{
  text-decoration: none;
  background:none;
  border: none;
  font-size: 0.9rem;
  color: var(--color-scale-gray-7);
}

.modal-nav-content.list-link{
  margin-bottom: 0.75rem;
}

.modal-nav-content:hover{
  color: var(--color-facebook);
  font-weight: bold;
  text-decoration: underline;
}