.menu-bar {
    background-color: #FFDAB9;
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tool-menu {
    display: block;
    color: #000000;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

li a.current {
    background-color: #FF6347;
    color: white;
}

li a:hover:not(.current) {								
    background-color: #CD853F;
    color: white;
}