:root {
--color-scale-gray-0: #fafbfc;
--color-scale-gray-1: #f6f8fa;
--color-scale-gray-2: #e1e4e8;
--color-scale-gray-3: #d1d5da;
--color-scale-gray-4: #959da5;
--color-scale-gray-5: #6a737d;
--color-scale-gray-6: #586069;
--color-scale-gray-7: #444d56;
--color-scale-gray-8: #2f363d;
--color-scale-gray-9: #24292e;
}

* {
  margin: 0;
  padding: 0;
}